/* se normaliza el archivo de estilos en cascada */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
    font-weight:lighter;
}

header{
    background-color: #c8cacb;
    transition: all;
}
header:hover{
    background-color: #379a8faf;
    transition-duration: 3s;
}

h1{
    display: inline-block;
    font-size: 4.2vw;
    
}

h1:hover{
    color: black;
    -webkit-text-fill-color: #efc82e;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #c05639;
    transition-duration: 3s;
    scale: 1.01;
}

nav{
    /* width: 30%; */
    display: inline-block;
    text-align: center;
    font-size: 2.3vw;
    position:relative;
    top: 0.85em;
    /* background-color: #c2c0cd; */
   /*  margin: 0 auto; */

}

.button{
    color:#1f2643;
    text-decoration: none;
    background-color: #5fa199b8;
    padding: 0.5vw 1vw;
    border-radius: 6%;
  }

  .button:hover{
    transition-duration: 0.2s;
    background-color: #f8e12ead;
    border:solid 1.5px #252425;
  }

  .button:active{
    background-color: #f8e12e;
    color: #31a359;
  }

  .banner{
    width: 100%;
  }

  main{
    text-align: center;
  }
  
  .contenedor-socalo{
    position: absolute;
    width: 100%;
    
  }

  .socalo{
    
    text-align: center;
    position: relative;
    color:#1f2643;
    background-color: #2524256f;
    top: -40px;
    font-size: 2vw;
    
  }

  img{
    display: inline-block;
  }

  .gallery:hover{
    border:solid 3px #252425;
    transition-duration: 3s;
    scale: 2;

  }

  article{
    margin: 30px 3px;
    font-size: 1.2vw;
  }

  .article-container{
    text-align: center;
    display: inline-block;
    width: 60vw;
  }


  .container-logo{
    display: inline-block;
  }

  .logo{
    width: 10vw;
    display: inline-block;
  }

  .contact-container{
    display: inline-block;
    font-size: 1.2vw;
  }

  .margin{
    margin:6px;
  }